@charset "utf-8";
/*================================================
 * 1. Default Style
 ================================================*/
html {
   overflow-y:scroll;
}
body {
/* background-color: #ccc; */
   color:#000;
   font-size: 14px;
   font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
img {
   vertical-align:bottom;
}

/*================================================
 * Link Style
 ================================================*/
a {
  text-decoration: none;
  color:inherit;
}
a:link,
a:visited,
a:hover,
a:forcus{
   color:inherit;
}

/*================================================
 * 汎用クラス
 ================================================*/
/*clearfix*/
.clrF:before,
.clrF:after {
    content: " ";
    display: table;
}
.clrF:after {
    clear: both;
}
.clrF {
    *zoom: 1;
}

/*linkCol*/
.linkCol{
   color:#3303f7;
}

.btn{
    width: 100px;
    height: 25px;
    font-size: 16px;
    background-color: #ccc;
    border-style: none;
}

/*================================================
 * header
 ================================================*/
.header li{
   float:left;
}

.header{
 margin-top:5px;
/* margin-bottom:0px; */
}


/*================================================
 * footer
 ================================================*/
.footer{
    background: #f2f2f2;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
}

/*================================================
 * common module
 ================================================*/
 .wrapper{
   width:1000px;
   margin:0 auto;
}
/* 検索窓 */
.searchBar{
    padding: 10px;
    height: 34px;
    background: #ff3300;
    margin-top: 5px;
    text-align: center;
}
.searchBar input[type="text"]{
    width: 850px;
    height: 30px;
}
.searchBar .btn{
    width: 100px;
    height: 30px;
    font-size: 16px;
    background-color: #F3F3F3;
    border-style: none;
}

input.searchtext{
    font-size: 18px;
}

/* 関連ワード */
.relatedWords{
    background: #F3F3F3;
    padding: 8px;
}
.relatedWords > span {
   display: inline-block;
   font-weight: bold;
   float:left;
}
.relatedWords li {
   display: inline-block;
   margin-left: 10px;
   float:left;
   text-decoration: underline;
}

/* タイトル */
.blockTitle{
    margin-top: 10px;
    display: block;
}
.blockTitle p{
    color: #333;
    font-size: 20px;
}

/* タグ */
.tag{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    padding: 5px 5px;
    line-height: 15px;
}
/* ポイント */
.tag.point{
    background: #fe0032;
}
/* 送料 */
.tag.postage{
    background: #00cd66;
}
/* カード */
.tag.card{
    background: #ff6501;
}

/*================================================
 * block lowestPriceBlock
 ================================================*/
.lowestPriceBlock table{
    text-align: center;
    margin-top: 10px;
    float: left;
}
.lowestPriceBlock table img{
    text-align: center;
}
.lowestPriceBlock td{
    padding: 10px 18px;
    vertical-align: top;
}
.lowestPriceBlock table a{
    display: block;
}
.lowestPriceBlock table p{
    width: 200px;
    text-align: center;
}
.lowestPriceBlock table .point{
    width: 200px;
    color: #fff;
    background: #fe0032;
    margin-top: 5px;
}
.lowestPriceBlock table .text{
    color:#3303f7;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 5px;
}
.lowestPriceBlock table .etc{
    color: #999;
    font-size: 12px;
    text-decoration: underline;
}
.lowestPriceBlock table .card{
    color:#3303f7;
}
.lowestPriceBlock .itemImg{
    text-align: center;
    border: 10px solid #F3F3F3;
    padding: 15px;
    float: right;
    margin-top: 10px;
}
.lowestPriceBlock .itemImg p{
    font-size: 11px;
    margin-top: 10px;
}

.lowestPriceBlock .itemImg .review {
    color:#3303f7;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 10px;
}

/*================================================
 * block rankingBlock
 ================================================*/
 /* 検索窓 */
 .rankingBlock .form{
    margin-top: 10px;
}
.rankingBlock .form input[type="text"]{
    width: 300px;
    height: 20px;
}
/* 関連ワード */
.rankingBlock .relatedWords{
    margin-top: 10px;
}

 /* ナビゲーション */
.rankingBlock .kw{
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
    color:#00f;
}
.rankingBlock .navigation{
    font-size: 30px;
}

.rankingBlock .rednavi{
    font-size: 36px;
    font-weight: bold;
    color:#f00;
}

.rankingBlock .rightnavi{
    font-size: 30px;
    float: right;
    color:#00f;
}



 /* 商品一覧 */
.rankingBlock .itemTable{
    margin-top: 10px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.rankingBlock .itemTable td{
    position: relative;
    width: 200px;
    text-align: center;
    padding: 20px 0 35px 0;
    vertical-align: top;
    border: 1px solid #999;
}
.rankingBlock .itemTable .itemName{
    display: block;
    margin-top: 10px;
    color:#2388b4;
    font-size: 15px;
    text-align: left;
}
.rankingBlock .itemTable .link{
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.rankingBlock .itemTable .link a{
    height: 25px;
    width: 190px;
    line-height: 25px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    background: #fe0032;
/*    color: #f00;
    background: #efefef; */
    display: block;
    margin: 0 auto;
}



/* 値段-リスト */
.rankingBlock .priceBlock{
    margin-top: 10px;
    float: left;
    width: 430px;
    border: 10px solid #F3F3F3;
    padding: 10px;
}
.rankingBlock .priceBlock .title{
    text-align: center;
    margin-bottom: 5px;
}
.rankingBlock .itemImg{
    text-align: center;
    float: left;
}
.rankingBlock .itemImg p{
    font-size: 11px;
    margin-top: 10px;
}
.rankingBlock .priceTable tr{
    margin-top: 5px;
    text-decoration: underline;
    color:#3303f7;
    text-align: center;
}
.rankingBlock .itembody td{
    vertical-align: top;
}
/* 最安値 */
.rankingBlock .lowestPrice{
    margin-top: 40px;
    text-align: center;
    padding: 15px 5px;
    font-size: 22px;
    font-weight: bold;
}
.rankingBlock .lowestPrice .text{
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    background: red;
}
.rankingBlock .lowestPrice .price{
    display: inline-block;
    text-decoration: underline;
    margin-left: 10px;
    font-size: 25px;
}

/* 値段-ランキング */
.rankingBlock .priceRanking{
    margin-top: 10px;
    float: right;
    width: 50%;
    font-size: 12px;
}
.rankingBlock .tankingTable {
    border: 1px solid #999;
    width: 100%;
}
.rankingBlock .tankingTable th,
.rankingBlock .tankingTable td {
    text-align: center;
    border: solid 1px;
    padding: 3px;
}


/*================================================
 * block itemPriceBlock
 ================================================*/
 /* 検索オプション */
 .itemPriceBlock{
    margin-top: 30px;
 }
.itemPriceBlock table.options{
    margin-top: 10px;
}
.itemPriceBlock table.options td{
    vertical-align: top;
    padding-left:10px;
}
.itemPriceBlock table.options td:first-child{
    padding-left:0px;
}
.itemPriceBlock .options td{
    font-size: 12px;
}
.itemPriceBlock .options .frame{
    height: 75px;
    padding:10px 15px;
    background: #F3F3F3;
}
.itemPriceBlock .options p{
    font-weight: bold;
}
.itemPriceBlock .aa{
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;
}
.itemPriceBlock .options .btn{
    text-align: center;
}
.itemPriceBlock .priceInputbox > p{
    margin-top: 10px;
}

/* 検索窓 */
.itemPriceBlock .form{
    margin-top: 10px;
    float: left;
}
.itemPriceBlock .form input[type="text"]{
    width: 300px;
    height: 20px;
}
/* ソート */
.itemPriceBlock .sort{
    font-weight: bold;
    line-height: 2;
    font-size: 16px;
    float: right;
    margin-top: 10px;
}
.itemPriceBlock .sort a{
    color:#3f40fd;
}
.itemPriceBlock .sort .active{
    color:#831b94;
    background:#fd9999;
}
  /* 検索窓 */
.itemPriceBlock .relatedWords{
    margin-top: 10px;
}
 /* 検索結果 header footer */
.itemPriceBlock .resultHeader,
.itemPriceBlock .resultFooter{
    display:table;
    width: 100%;
    border:1px solid #ccc;
}
.itemPriceBlock .resultHeader > li,
.itemPriceBlock .resultFooter > li{
    display:table-cell;
    vertical-align: middle;
    width: 20%;
    text-align: center;
    border-left:1px solid #ccc;
}
.itemPriceBlock .resultHeader >li:first-child,
.itemPriceBlock .resultFooter >li:first-child{
    border-left: none;
}
.itemPriceBlock .resultHeader .logo,
.itemPriceBlock .resultFooter .logo{
    height: 55px;
}
.itemPriceBlock .resultHeader{
    margin-top: 10px;
}
.itemPriceBlock .resultHeader  p{
    border-top:1px solid #ccc;
    line-height: 2;
}
.itemPriceBlock .resultFooter{
    margin-top: 10px;
}
.itemPriceBlock .resultFooter  p{
    border-bottom:1px solid #ccc;
    line-height: 2;
}

/* contetnt */
.itemPriceBlock .resultItems{
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
}
.itemPriceBlock .resultItems td{
    display:table-cell;
    width: 20%;
    border-left: 1px solid #ccc;
}
.itemPriceBlock .resultItems .item{
    overflow: hidden;
    padding: 10px;
}
.itemPriceBlock .resultItems .img{
    float: left;
}
.itemPriceBlock .resultItems .body{
    padding: 2px 0 2px 5px;
    overflow: hidden;
    word-break: break-all;
    color:#3303f7;
}
.itemPriceBlock .resultItems .link{
    color:#4040ff;
    text-decoration: underline;
}
.itemPriceBlock .resultItems .point{
    background: #fe0032;
    color: #fff;
}
.itemPriceBlock .resultItems .prBx{
    padding: 5px;
}
.itemPriceBlock .resultItems .pr{
    background: #f2f2f2;
}
.itemPriceBlock .resultItems .pr span{
    font-weight: bold;
}
.itemPriceBlock .resultItems .pr span{
    color: #2d2dfd;
}
.itemPriceBlock .resultItems .pr em{
    color: #fe0032;
}
.itemPriceBlock .resultItems .pr em{
    color: #fe0032;
}
.itemPriceBlock .resultItems .option{
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    padding: 2px;
}
.itemPriceBlock .resultItems .option li{
    float: left;
}

.ads {
    margin: 0px auto;
    width: 1000px;
}
.ads #adright {
    float: left;
    margin:15px 15px 15px 15px;
}
.ads #adleft {
    float: left;
    margin: 0px;
}


/*================================================
 * 追加
 ================================================*/

.biggerfont{
    font-size: 26px;
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

.biggerfontlink{
    font-size: 30px;
    color: #00f;
    font-weight: bold;
    text-decoration: underline;
}

.textlink{
    color: #00f;
    font-weight: normal;
    text-decoration: underline;
}

.red{
    color: #F00;
}

.yellow{
	background-color: #FF0;
}

.sugestfont{
    font-size: 20px;
    color: #00f;
    font-weight: bold;
    text-decoration: underline;
}

.sugestarea{
    background: #F3F3F3;
    margin-right: 0px;
    margin-left: 0px;
    padding: 8px;
}

.discount5000{
    background: #F3F3F3;
    margin-right: 0px;
    margin-left: 0px;
    padding: 8px;
}

.discount5000 a{display: block;}


.textc{
    text-align: center;
}

.textr{
    text-align: right;
}

.textl{
    text-align: left;
}

.backred{
    background: #F00;
    color: #FFF;
}

.imgr{
    float: right;
    margin: 10px;
/*  border: 1px solid #ddd;*/
}

.imgl{
    float: left;
    margin: 10px;
/*  border: 1px solid #ddd;*/
}

.imgc{
    margin:0 auto;
}

/*================================================
 * manuBlock
 ================================================*/
 /* 商品一覧 */
.menuBlock .itemTable{
    margin-top: 0px;
}

/* menuブロック　テーブル */
.menuBlock .itemTable td{
    position: relative;
    width: 200px;
    text-align: center;
/*    padding: 20px 0 35px 0; */
    padding: 2px 0 2px 0;
    vertical-align: top;
/*    border: 1px solid #cfcfcf; */
}
.menuBlock .itemTable .itemName{
    display: block;
    margin-top: 1px;
    margin-left: 10px;
    color:#2388b4;
    font-size: 13px;
    text-align: left;
}
.menuBlock .itemTable .link{
/*    position: absolute; */
/*    bottom: 5px; */
/*    width: 100%; */
/*    padding: 0 5px;*/
}
.menuBlock .itemTable .link a{
    height: 25px;
    width: 190px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 25px;
    color:#2388b4;
/*    background: #fe0032; */
/*    display: block; */
    margin: 0 auto;
}



/*================================================
 * block reviewBlock
 ================================================*/
.reviewBlock{
    margin-top:30px;
}
.reviewList > li{
    display:none;
    overflow: hidden;
    padding: 10px;
}
.reviewList > li:nth-child(odd) {
    background:#eee;
}
.reviewList .media {
    overflow: hidden;
}
.reviewList .mediaBody{
    overflow: hidden;
    padding-left: 10px;
}
.reviewList .mediaImage{
    float: left;
}
.reviewList img{
    vertical-align: top;
}
.reviewTitle{
    font-weight: bold;
    font-size: 16px;
}
.reviewDescription{
    font-size: 14px;
    clear: both;
    margin-top: 5px;
    line-height: 1.2;
}
.reviewEx li{
    float: left;
    margin-right: 25px;
    font-size: 12px;
    vertical-align: bottom;
    line-height: 25px;
}
.reviewRate{
    font-size: 11px;
}
.reviewUpdate{
    text-align: right;
    line-height: 1;
    margin-top: 10px;
}
.reviewLink{
    cursor: pointer;
    display:none;
    margin-top: 10px;
    color: #00f;
}
.reviewBuy{
    margin-left: 10px;
}
.reviewBuy img{
    padding-top: 4px;
}


/*================================================
 * keywordBlock デイリー売れ筋アイテム
 ================================================*/
.keywordBlock .blockTitle p{
    font-size: 16px;
}
.keywordTable{
    margin-top: 20px;
    width: 100%;
}
.keywordTable a{
    color: #00f;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}
.keywordTable td{
    vertical-align: middle;
    padding: 5px;
}
.keywordRnk1 a{
    font-size: 18px;
}
.keywordRnkIcon{
    padding-left: 10px;
}
.keywordArrow{
    width: 30px;
}

/*================================================
 * dailyBlock デイリー売れ筋アイテム
 ================================================*/
.dailyBlock .blockTitle p{
    font-size: 16px;
}
.dailyList{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: #3303f7;
}
.dailyList td{
    position: relative;
    vertical-align: top;
    width: 20%;
    border: 1px solid #ccc;
    padding: 5px 5px 35px 5px;
}
.dailyReview{
    text-decoration: underline;
    font-size: 13px;
    margin-left: 10px;
}
.dailyItem{
    word-break: break-all;
    font-size: 15px;
    margin-top: 10px;
}
.dailyItem img{
    margin: 0 auto;
    display: block;
}
.dailyItem a{
    display: block;
    padding: 5px;
}
.dailyItemName{
    text-align: left;
    margin-top: 10px;
}
.dailyItemLink{
    position: absolute;
    width: 100%;
    bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
.dailyItemLink span{
    display: block;
    width: 188px;
    background: #ff3300;
    color: #fff;
    line-height: 1.6;
    padding: 2px;
}


/*================================================
 * プロモーション用ボックス
 ================================================*/

.promobox {
    text-align: left;
    margin:20px auto;
    padding: 10px; 
/*    border: 3px solid #ececec;*/
    background: #fafafa; 
}

.boxinbox {
    text-align: left;
    margin:10px 20px auto;
    padding: 10px; 
    border: 2px solid #ececec;
    background: #fff; 
}
