<!-- dailyBlock -->
<div class="col-md-4 project">
  <h3 class="similar-items">関連商品一覧</h3>
  <table id="item" class="daily_list"></table>
  <script id="daily" type="text/x-handlebars-template">
    {% verbatim %}
    <tbody>
    {{#each ranking}}
    <tr>
      <td class="image">
        <a href="/?kwd={{name}}"><img src="{{img}}"></a>
      </td>
      <td class="name">
        <a href="/?kwd={{name}}">{{name}}
          <span class="ranking">&gt;最安値ランキングへ</span>
        </a>
      </td>
    </tr>
    {{/each}}
    </tbody>
    {% endverbatim %}
  </script>
</div><!-- /.dailyBlock -->
