<html>
<head>
	<meta charset="utf-8">
	<title>
	</title>
</head>
<body>
	{% for d in rakuten %}
	<a href={{d.itemUrl}}>
	<img src={{d.imageUrl}} /></a>
	{{d.itemName}}<br />
	販売価格{{d.itemPrice}}円<br/>
	ポイント{{d.pointRate}}%<br/>
	{% if not d.postageFlag %} 送料無料！{%endif%}
	{% if d.asurakuFlag %} 翌日配送！{% endif %}<br/>
	レビュー：{{d.reviewAverage}}({{d.reviewCount}}件)<br/><br/>
	{%endfor%}
	{% for d in ponpare %}
	<a href={{d.itemUrl}}>
	<img src={{d.imageUrl}} /></a>
	{{d.itemName}}<br />
	販売価格{{d.itemPrice}}円<br/>
	ポイント{{d.pointRate}}%<br/>
	{% if not d.postageFlag %} 送料無料！{%endif%}
	{% if d.asurakuFlag %} 翌日配送！{% endif %}<br/>
	レビュー：{{d.reviewAverage}}({{d.reviewCount}}件)<br/><br/>
	{%endfor%}
		{% for d in yahoo_s %}
	<a href={{d.itemUrl}}>
	<img src={{d.imageUrl}} /></a>
	{{d.itemName}}<br />
	販売価格{{d.itemPrice}}円<br/>
	ポイント{{d.pointRate}}%<br/>
	{% if not d.postageFlag %} 送料無料！{%endif%}
	{% if d.asurakuFlag %} 翌日配送！{% endif %}<br/>
	レビュー：{{d.reviewAverage}}({{d.reviewCount}}件)<br/><br/>
	{%endfor%}

	{% for d in yahoo_a %}
	<a href={{d.itemUrl}}>
	<img src={{d.imageUrl}} /></a>
	{{d.itemName}}<br />
	販売価格{{d.itemPrice}}円<br/>
	ポイント{{d.pointRate}}%<br/>
	{% if not d.postageFlag %} 送料無料！{%endif%}
	{% if d.asurakuFlag %} 翌日配送！{% endif %}<br/>
	レビュー：{{d.reviewAverage}}({{d.reviewCount}}件)<br/><br/>
	{%endfor%}
<br />

<br />
{{rakuten.0.Item.itemCaption}}
{% for str in suggest %} <a href="{% url 'home' %}?kwd={{str}}&minPrice=0&maxPrice=0">{{str}}</a> {% endfor%}
<form id="changelist-search" action="{% url 'home' %}" method="GET">
{% csrf_token %}
				<div><!-- DIV needed for valid HTML -->
					<input type="text" size="30" name="minPrice" value="{{minPrice}}" id="searchbar" />
					<input type="text" size="30" name="maxPrice" value="{{maxPrice}}" id="searchbar" />
					検索:<input type="text" size="30" name="kwd" value="{{kwd}}" id="searchbar" />
					<input type="submit" value="Search" />
				</div>
</form>
</body>
</html>