<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load pw_extras %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="./static/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="./static/css/common.css" type="text/css" />
    <script type="text/javascript" src="./static/js/jquery.js"></script>
    <script type="text/javascript" src="./static/js/common.js"></script>
    <script type="text/javascript" src="./static/js/ga.js"></script>
    <title>サイトタイトル</title>
</head>
<body>
    {{ request }}
<div class="wrapper">

        <div class="header clrF">
            <ul>
                <li><a href="xxx"><img src="./static/images/header/logo01.gif" alt="logo"/></a></li>
                <li><a href="xxx"><img src="./static/images/header/logo02.gif" alt="logo"/></a></li>
                <li><a href="xxx"><img src="./static/images/header/ad_top01.gif" alt="ad"/></a></li>
            </ul>
        </div><!-- /.header -->

        <div class="searchBar clrF">
            <form method="get" action="{% url 'home' %}">
                <input type="text" name="kwd" value="{{kwd}}" >
                <input type="hidden" name="minPrice" value="{{minPrice}}">
                <input type="hidden" name="maxPrice" value="{{maxPrice}}">
                <input type="submit" value="検索" class="btn">
            </form>
        </div><!-- /.searchBar -->
        {% if results %}
        {% if suggest %}
        <div class="relatedWords clrF">
            <span>関連ワード :</span>
            <ul>
                {% for str in suggest %}
                <li><a href="{% url 'home' %}?kwd={{str}}&minPrice=0&maxPrice=0" class="linkCol">{{str}}</a></li>
                {% endfor %}
            </ul>
        </div><!-- /.relatedWords -->
        {% endif %}

        <div class="lowestPriceBlock clrF">
            <div class="blockTitle clrF">
                <img src="./static/images/block1/title01.gif" alt="title"/>
                <p>1クリックで、以下のサイトの最安値一覧へジャンプします。</p>
            </div><!-- /.title -->

            <table>
                <tr>
                    <td>
                        <a href="xxx">
                            <img src="./static/images/block1/rakuten200x60.gif" alt="rakuten"/>
                            <p class="point">テキスト1%</p>
                            <p class="text">テキスト</p>
                            <p class="etc">(レビュー99件)</p>
                            <p class="etc">テキスト</p>
                            <p class="card">テキスト</p>
                        </a>
                    </td>
                    <td>
                        <a href="xxx">
                            <img src="./static/images/block1/amazon200x60.gif" alt="amazon"/>
                        </a>
                    </td>
                    <td>
                        <a href="xxx">
                            <img src="./static/images/block1/yahoo200x60.gif" alt="yahoo"/>
                        </a>
                    </td>
                    <tr>
                    </tr>
                    <td>
                        <a href="xxx">
                            <img src="./static/images/block1/ponpare200x60.gif" alt="ponpare"/>
                            <p class="point">テキスト1%</p>
                            <p class="text">テキスト</p>
                            <p class="etc">(レビュー99件)</p>
                            <p class="etc">テキスト</p>
                            <p class="card">テキスト</p>
                        </a>
                    </td>
                    <td>
                        <a href="xxx">
                            <img src="./static/images/block1/yahooauc200x60.gif" alt="yahooauc"/>
                        </a>
                    </td>
                    <td>
                        <a href="xxx">
                            <img src="./static/images/block1/rakuauc200x60.gif" alt="rakuauc"/>
                        </a>
                    </td>
                </tr>
            </table>

            <div class="itemImg">
                <img src="http://placehold.it/150x150" alt="画像"/>
                <p>こちらの画像は異なる場合があります。</br>数量等は各ショップ詳細でご確認ください。</p>
            </div>
        </div><!-- /.lowestPriceBlock -->

        <div class="rankingBlock clrF">
            <div class="blockTitle clrF">
                <img src="./static/images/block2/title02.gif" alt="title"/>
                <p>1つの商品の最安値ランキングを表示しています。</br>商品が見つからない場合には、再度検索するか、関連ワードをクリックしてください。</p>
            </div><!-- /.blockTitle -->

            <div class="form clrF">
                <form method="post" action="xxx">
                    <input type="text" name="q">
                    <input type="submit" value="検索" class="btn">
                </form>
            </div><!-- /.blockTitle -->

            {% if suggest %}
            <div class="relatedWords clrF">
                <span>関連ワード :</span>
                <ul>
                    {% for str in suggest %}
                    <li><a href="{% url 'home' %}?kwd={{str}}&minPrice=0&maxPrice=0" class="linkCol">{{str}}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /.relatedWords -->
            {% endif %}
            
            
            
            <table class="itemTable">
                <tr>
                    {% for d in results.jandata %}
                    <td>
                        <a href="" class="">
                            <img src="{{d.imageUrl}}" alt="画像"/>
                        </a>
                        <a href="xxx" class="itemName">{% for s in d.itemName%}{{s}}{%endfor%}</a>
                        <div class="link">
                            <a href="xxx">最安値チェック</a>
                        </div>
                    </td>
                    {% endfor%}
                </tr>
            </table><!-- /.itemTable -->

            <div class="priceBlock">
                <p class="title">サイト最安値</p>
                <div class="itemImg">
                    <img src="http://placehold.it/150x150" alt="画像"/>
                    <p>こちらの画像は異なる場合があります。</br>数量等は各ショップ詳細でご確認ください。</p>
                </div>
                <table class="priceTable">
                    <tr>
                        <td><a href="xxx"><img src="./static/images/block2/amazon135x32.gif" alt="amazon"/></a></td>
                        <td><a href="xxx">¥200</a></td>
                    </tr>
                    <tr>
                        <td><a href="xxx"><img src="./static/images/block2/rakuten135x32.gif" alt="amazon"/></a></div>
                        <td><a href="xxx">¥200</a></div>
                    </tr>
                    <tr>
                        <td><a href="xxx"><img src="./static/images/block2/yahoo135x32.gif" alt="amazon"/></a></div>
                        <td><a href="xxx">¥200</a></div>
                    </tr>
                    <tr>
                        <td><a href="xxx"><img src="./static/images/block2/ponpar135x32.gif" alt="amazon"/></a></div>
                        <td><a href="xxx">¥200</a></div>
                    </tr>
                    <tr>
                        <td><a href="xxx"><img src="./static/images/block2/yahooauc135x32.gif" alt="amazon"/></a></div>
                        <td><a href="xxx">¥200</a></div>
                    </tr>
                </table>

                <div class="lowestPrice">
                    <span class="text">最安値</span><span class="price linkCol">¥200</span>
                </div>
            </div><!-- /.priceList -->
            <div class="priceRanking">
                <table class="tankingTable">
                    <tr>
                        <th >順位</th>
                        <th>価格</th>
                        <th>サイト</th>
                        <th>ポイント</th>
                        <th>送料</th>
                        <th>カード</th>
                        <th>ショップ</th>
                    </tr>
                    <tr>
                        <td>1位</td>
                        <td>¥29.000</td>
                        <td>¥29.000</td>
                        <td><span class="tag point">2%</span></td>
                        <td><span class="tag postage">無料</span></td>
                        <td><span class="tag card">OK</span></td>
                        <td><a href="xxx" class="linkCol">ショップ</a></td>
                    </tr>
                </table>
            </div><!-- /.priceRanking -->
        </div><!-- /.rankingBlock -->

        {% if results %}
        <div class="itemPriceBlock clrF">
            <div class="blockTitle clrF">
                <img src="./static/images/block3/title03.gif" alt="title"/>
                <p>主力モールアイテム別価格情報が確認できます。1クリックで詳細チェック可能。</p>
            </div><!-- /.title -->

            <div class="clrF">
                <div class="form">
                    <form method="get" action="{% url 'home' %}">
                        <input type="text" name="">
                        <input type="submit" value="検索" class="btn">
                    </form>
                </div><!-- /.blockTitle -->

                <div class="sort">
                    <span>並び替え</span>
                    <a href="xxxx" class="active">人気の順番(入札順)</a>
                    <span>&nbsp;|&nbsp;</span>
                    <a href="xxxx">価格の安い順番</a>
                </div>
            </div>

            {% if suggest %}
            <div class="relatedWords clrF">
                <span>関連ワード :</span>
                <ul>
                    {% for str in suggest %}
                    <li><a href="{% url 'home' %}?kwd={{str}}&minPrice=0&maxPrice=0" class="linkCol">{{str}}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /.relatedWords -->
            {% endif %}

            <table class="options">
                <tr>
                    <td>
                        <div class="frame">
                            <p>ショッピンング条件</p>
                            <div><input type="checkbox" name="example" value="サンプル"> 送料無料</div>
                            <div><input type="checkbox" name="example" value="サンプル">レビューあり</div>
                        </div>
                    </td>
                    <td>
                        <div class="frame">
                            <p>オークション条件</p>
                            <div><input type="checkbox" name="example" value="サンプル">即決あり</div>
                            <div><input type="checkbox" name="example" value="サンプル">新品のみ</div>
                            <div><input type="checkbox" name="example" value="サンプル">ストアのみ</div>
                        </div>
                    </td>
                    <td class="priceInputbox">
                        <div class="frame">
                            <div class="priceInput">
                                <p>価格帯絞り込み</p>
                                <input type="text" name="xxx" size="8" maxlength="10">〜<input type="text" name="xxx" size="8" maxlength="10">円
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="submit" value="検索" class="btn">
                    </td>
                </tr>
            </table><!-- /.options -->

            <p class="aa">商品が見るからない場合には、再度検索するか、関連キーワードをクリックしてみてください。</br>比較表には、古いデータが含まれる場合がありますので、各ショップにて詳細をご確認ください。</p>

            <ul class="resultHeader">
                <li>
                    <div class="logo"><img src="./static/images/block3/amazon30.gif" alt="amazon"/></div>
                    <p><a href="xxx">評判・レビュー</a></p>
                </li>
                <li>
                    <div class="logo"><img src="./static/images/block3/rakuten30.gif" alt="rakuten"/></div>
                    <p><a href="xxx">評判・レビュー</a></p>
                </li>
                <li>
                    <div class="logo"><img src="./static/images/block3/yahoo30.gif" alt="yahoo"/></div>
                    <p><a href="xxx">評判・レビュー</a></p>
                </li>
                <li>
                    <div class="logo"><img src="./static/images/block3/ponpar30.gif" alt="ponpar"/></div>
                    <p><a href="xxx">評判・レビュー</a></p>
                </li>
                <li>
                    <div class="logo"><img src="./static/images/block3/yahooauc30.gif" alt="yahooauc"/></div>
                    <p><a href="xxx">終了間近の出品</a>｜<a href="xxx">落札相場</a></p>
                </li>
            </ul><!-- /.resultService -->


            {% for i in "01234"%}
            
            {{ i|getTest:results}}
            {% endfor %}

            <ul class="resultFooter">
                <li>
                    <p><a href="xxx">もっとみる</a></p>
                    <div class="logo"><img src="./static/images/block3/amazon30.gif" alt="amazon"/></div>
                </li>
                <li>
                    <p><a href="xxx">もっとみる</a></p>
                    <div class="logo"><img src="./static/images/block3/rakuten30.gif" alt="rakuten"/></div>
                </li>
                <li>
                    <p><a href="xxx">もっとみる</a></p>
                    <div class="logo"><img src="./static/images/block3/yahoo30.gif" alt="yahoo"/></div>
                </li>
                <li>
                    <p><a href="xxx">もっとみる</a></p>
                    <div class="logo"><img src="./static/images/block3/ponpar30.gif" alt="ponpar"/></div>
                </li>
                <li>
                    <p><a href="xxx">もっとみる</a></p>
                    <div class="logo"><img src="./static/images/block3/yahooauc30.gif" alt="yahooauc"/></div>
                </li>
            </ul><!-- /.resultService -->

            <div class="clrF">
                <div class="form">
                    <form method="post" action="xxx">
                        <input type="text" name="q">
                        <input type="submit" value="検索" class="btn">
                    </form>
                </div><!-- /.blockTitle -->

                <div class="sort">
                    <span>並び替え</span>
                    <a href="xxxx" class="active">人気の順番(入札順)</a>
                    <span>&nbsp;|&nbsp;</span>
                    <a href="xxxx">価格の安い順番</a>
                </div>
            </div>

            {% if suggest %}
            <div class="relatedWords clrF">
                <span>関連ワード :</span>
                <ul>
                    {% for str in suggest %}
                    <li><a href="{% url 'home' %}?kwd={{str}}&minPrice=0&maxPrice=0" class="linkCol">{{str}}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /.relatedWords -->
            {% endif %}
        </div><!-- /.itemPriceBlock -->
        {% endif %}
        {% endif %}
        <div>
            <div class="blockTitle clrF">
                <img src="./static/images/block4/title04.gif" alt="title"/>
            </div><!-- /.title -->

            <div class="searchBar clrF">
                <form method="post" action="xxx">
                    <input type="text" name="q">
                    <input type="submit" value="検索" class="btn">
                </form>
            </div><!-- /.searchBar -->
            {% if suggest %}
            <div class="relatedWords clrF">
                <span>関連ワード :</span>
                <ul>
                    {% for str in suggest %}
                    <li><a href="{% url 'home' %}?kwd={{str}}&minPrice=0&maxPrice=0" class="linkCol">{{str}}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /.relatedWords -->
            {% endif %}
            <div class="footer clrF">
                <p>パワープライス</p>
                <p>運営情報・お問い合わせ</p>
            </div><!-- /.footer -->
        </div>

</div><!-- /.wrapper -->
</body>
</html>