<!--ここにhtmlを記載してください-->


<br/>
				<center><p class="biggerfont">最安値を検索できます↓↓↓　モデル名、型名検索も可能！</p></center>
        <div class="searchBar clrF">
            <form method="get" action="{% url 'home' %}">
                <input type="text" name="kwd"  class="searchtext"value="{{kwd}}" >
                <input type="hidden" name="minPrice" value="{{minPrice}}">
                <input type="hidden" name="maxPrice" value="{{maxPrice}}">
                <input type="submit" value="検索" class="btn">
            </form>
        </div><!-- /.searchBar -->
				<br/>
				<br/>
		<div class="menuBlock clrF"><!-- メニューブロック -->
            <table class="itemTable">
                <tr>
                    
                    <td>
                        <a href="/?kwd=パソコン&minPrice=&maxPrice=" class="">
                            <img src="./static/images/menu/pc.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=パソコン&minPrice=&maxPrice=">パソコン</a>
						</div>
						<a href="/?kwd=ノートパソコン&minPrice=0&maxPrice=0" class="itemName">ノートパソコン</a>
						<a href="/?kwd=デスクトップpc&minPrice=0&maxPrice=0" class="itemName">デスクトップ</a>
						<a href="/?kwd=プリンタ&minPrice=0&maxPrice=0" class="itemName">プリンタ</a>
						<a href="/?kwd=タブレット&minPrice=0&maxPrice=0" class="itemName">タブレット</a>
					</td>
                    
                    <td>
                        <a href="/?kwd=家電&minPrice=0&maxPrice=0" class="">
                            <img src="./static/images/menu/kaden.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=家電&minPrice=0&maxPrice=0">
						家電</a>
						</div>
						<a href="/?kwd=液晶テレビ&minPrice=0&maxPrice=0" class="itemName">液晶テレビ</a>
						<a href="/?kwd=ブルーレイレコーダー&minPrice=0&maxPrice=0" class="itemName">ブルーレイレコーダー</a>
						<a href="/?kwd=加湿器&minPrice=0&maxPrice=0" class="itemName">加湿器</a>
						<a href="/?kwd=冷暖房&minPrice=0&maxPrice=0" class="itemName">冷暖房</a>
					</td>

                    <td>
                        <a href="/?kwd=カメラ&minPrice=0&maxPrice=0" class="">
                            <img src="./static/images/menu/camera.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=カメラ&minPrice=0&maxPrice=0">
						カメラ</a>
						</div>
						<a href="/?kwd=デジタルカメラ&minPrice=0&maxPrice=0" class="itemName">デジタルカメラ</a>
						<a href="/?kwd=一眼レフカメラ&minPrice=0&maxPrice=0" class="itemName">一眼レフカメラ</a>
						<a href="/?kwd=ビデオカメラ&minPrice=0&maxPrice=0" class="itemName">ビデオカメラ</a>
						<a href="/?kwd=交換レンズ&minPrice=0&maxPrice=0" class="itemName">交換レンズ</a>
					</td>

					
                    <td>
                        <a href="/?kwd=携帯電話&minPrice=0&maxPrice=0" class="">
                            <img src="./static/images/menu/phone.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=携帯電話&minPrice=0&maxPrice=0">
						携帯電話</a>
						</div>
						<a href="/?kwd=スマートフォン&minPrice=0&maxPrice=0" class="itemName">スマートフォン</a>
						<a href="/?kwd=スマホケース&minPrice=0&maxPrice=0" class="itemName">スマホケース</a>
						<a href="/?kwd=スマホ周辺機器&minPrice=0&maxPrice=0" class="itemName">スマホ周辺機器</a>
					</td>
                    
                    <td>
                        <a href="/?kwd=ファッション&minPrice=0&maxPrice=0" class="">
                            <img src="./static/images/menu/fashion.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=ファッション&minPrice=0&maxPrice=0">
						ファッション</a>
						</div>
						<a href="/?kwd=ブランド品&minPrice=0&maxPrice=0" class="itemName">ブランド品</a>
						<a href="/?kwd=バッグ&minPrice=0&maxPrice=0" class="itemName">バッグ</a>
						<a href="/?kwd=財布&minPrice=0&maxPrice=0" class="itemName">財布</a>
						<a href="/?kwd=アウター&minPrice=0&maxPrice=0" class="itemName">アウター</a>
					</td>
                    
                </tr>


                <tr>
                    
                    <td>
                        <a href="/?kwd=腕時計&minPrice=0&maxPrice=0" class="">
                            <img src="./static/images/menu/watch.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=腕時計&minPrice=0&maxPrice=0">
						腕時計</a>
						</div>
						<a href="/?kwd=アクセサリー&minPrice=0&maxPrice=0" class="itemName">アクセサリー</a>
						<a href="/?kwd=指輪&minPrice=0&maxPrice=0" class="itemName">指輪</a>
						<a href="/?kwd=ネックレス&minPrice=0&maxPrice=0" class="itemName">ネックレス</a>
						<a href="/?kwd=ピアス&minPrice=0&maxPrice=0" class="itemName">ピアス</a>
					</td>

                    
                    <td>
                        <a href="/?kwd=家具&minPrice=0&maxPrice=0" class="">
                            <img src="./static/images/menu/kagu.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=家具&minPrice=0&maxPrice=0">
						家具</a>
						</div>
						<a href="/?kwd=ソファ&minPrice=0&maxPrice=0" class="itemName">ソファ</a>
						<a href="/?kwd=ベッド&minPrice=0&maxPrice=0" class="itemName">ベッド</a>
						<a href="/?kwd=パソコンデスク&minPrice=0&maxPrice=0" class="itemName">パソコンデスク</a>
					</td>
                    
                    <td>
                        <a href="/?kwd=雑貨&minPrice=0&maxPrice=0" class="">
                            <img src="./static/images/menu/zakka.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=雑貨&minPrice=0&maxPrice=0">
						雑貨</a>
						</div>
						<a href="/?kwd=文具&minPrice=0&maxPrice=0" class="itemName">文具</a>
						<a href="/?kwd=日用品&minPrice=0&maxPrice=0" class="itemName">日用品</a>
						<a href="/?kwd=旅行用品&minPrice=0&maxPrice=0" class="itemName">旅行用品</a>
						<a href="/?kwd=介護用品&minPrice=0&maxPrice=0" class="itemName">介護用品</a>
					</td>
                    
                    <td>
                        <a href="/?kwd=ビューティー&minPrice=0&maxPrice=0" class="">
                            <img src="./static/images/menu/beauty.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=ビューティー&minPrice=0&maxPrice=0">
						ビューティー</a>
						</div>
						<a href="/?kwd=コスメ&minPrice=0&maxPrice=0" class="itemName">コスメ</a>
						<a href="/?kwd=コンタクトレンズ&minPrice=0&maxPrice=0" class="itemName">コンタクトレンズ</a>
						<a href="/?kwd=健康食品&minPrice=0&maxPrice=0" class="itemName">健康食品</a>
						<a href="/?kwd=サプリメント&minPrice=0&maxPrice=0" class="itemName">サプリメント</a>
					</td>
                    
                    <td>
                        <a href="/?kwd=アウトドア&minPrice=0&maxPrice=0" class="">
                            <img src="./static/images/menu/outdoor.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=アウトドア&minPrice=0&maxPrice=0">
						アウトドア</a>
						</div>
						<a href="/?kwd=ゴルフ用品&minPrice=0&maxPrice=0" class="itemName">ゴルフ用品</a>
						<a href="/?kwd=自転車&minPrice=0&maxPrice=0" class="itemName">自転車</a>
						<a href="/?kwd=ジョギング&minPrice=0&maxPrice=0" class="itemName">ジョギング</a>
						<a href="/?kwd=キャンプ用品&minPrice=0&maxPrice=0" class="itemName">キャンプ用品</a>
					</td>
                    
                </tr>


                <tr>
                    
                    <td>
                        <a href="/?kwd=ベビー&minPrice=0&maxPrice=0" class="">
                            <img src="./static/images/menu/baby.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=ベビー&minPrice=0&maxPrice=0">
						ベビー</a>
						</div>
						<a href="/?kwd=チャイルドシート&minPrice=0&maxPrice=0" class="itemName">チャイルドシート</a>
						<a href="/?kwd=ベビーカー&minPrice=0&maxPrice=0" class="itemName">ベビーカー</a>
						<a href="/?kwd=ベビー服&minPrice=0&maxPrice=0" class="itemName">ベビー服</a>
					</td>

                    
                    <td>
                        <a href="/?kwd=キッチン用品&minPrice=0&maxPrice=0" class="">
                            <img src="./static/images/menu/kitchen.gif" width='76' height='76' alt="ロゴ"/>
                        </a>
                        <div class="link">
						<a href="/?kwd=キッチン用品&minPrice=0&maxPrice=0">
						キッチン用品</a>
						</div>
						<a href="/?kwd=キッチン家電&minPrice=0&maxPrice=0" class="itemName">キッチン家電</a>
						<a href="/?kwd=鍋&minPrice=0&maxPrice=0" class="itemName">鍋</a>
						<a href="/?kwd=フライパン&minPrice=0&maxPrice=0" class="itemName">フライパン</a>
						<a href="/?kwd=調理器具&minPrice=0&maxPrice=0" class="itemName">調理器具</a>
					</td>
                                        
                </tr>
            </table>
		</div><!-- /メニューブロック -->



